$White:#ffffff;
$White-75:#eee;
$primary-color:#292828;
$secondary-color: #615f5f;





//  font family start here
$font-family-Poppins-Regular: 'Poppins-Regular';
$font-family-Poppins-Black: 'Poppins-Black';
$font-family-Poppins-Bold: 'Poppins-Bold';
$font-family-Poppins-SemiBold: 'Poppins-SemiBold';
$font-family-Poppins-ExtraLight: 'Poppins-ExtraLight';
$font-family-Poppins-Light: 'Poppins-Light';
$font-family-Poppins-Medium: 'Poppins-Medium';
$font-family-Poppins-ExtraBold: 'Poppins-ExtraBold';

$font-family-Poppins-Bold: 'Poppins-Bold';






// font size start here.
$font-size-32px:32px;
$font-size-52px:52px;
$font-size-46px:46px;
$font-size-30px:30px;
$font-size-16px:16px;
$font-size-14px:14px;
$font-size-40px:40px;
$font-size-17px:17px;
$font-size-23px:23px;
$font-size-38px:38px;
$font-size-48px:48px;
$font-size-22px:22px;
$font-size-24px:24px;
$font-size-18px:18px;
$font-size-20px:20px;
$font-size-56px:56px;
$font-size-12px:12px;
$font-size-64px:64px;
$font-size-19px:19px;
// line height start here
$line-height-18px:18px;
$line-height-26px:26px;
$line-height-27px:27px;
$line-height-66px:66px;
$line-height-36px:36px;
$line-height-30px:30px;
$line-height-33px:33px;
$line-height-20px:20px;
$line-height-16px:16px;
$line-height-28px:28px;
$line-height-24px:24px;
$line-height-37px:37px;
$line-height-84px:84px;

// color start here

$primary-color:#FBBF24;;
$secondary-color:#000;



